{% extends "layout.html" %}
{% block content %}
    {% if posts %}
        {% for post in posts %}
            <article class="media content-section">
              <div class="media-body">
                <div class="article-metadata">
                  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
              </div>
            </article>
        {% endfor %}
        {{ pagination.info }}
        {{ pagination.links }}
    {% endif %}
{% endblock content %}
